<div ng-controller="PasswordServiceCtrl">
   <!-- Breadcrumbs-->
   <ol class="breadcrumb">
      <li class="breadcrumb-item active"><label> Add New Information</label></li>
   </ol>
   <form class="credentialForm" novalidate id="credentialForm" name="credentialForm" novalidate>
   <div class="row">
      <label class="col-3">ENV: </label>
      <div class="col-5">
         <input type="text" placeholder="Enviroment" class="form-control" name="env" ng-model="object.env" ng-required="true" 
			ng-class="{'txtbxReq': (credentialForm.env.$error.required && (credentialForm.env.$touched || credentialForm.$submitted))}">
      </div>
   </div>
   <br/>
   <div class="row">
      <label class="col-3">Application: </label>
      <div class="col-5">
         <input type="text" placeholder="Application Name" class="form-control" name="application" ng-model="object.application" ng-required="true"
		 ng-class="{'txtbxReq': (credentialForm.application.$error.required && (credentialForm.application.$touched || credentialForm.$submitted))}">
      </div>
   </div>
   <br/>
   <div class="row">
      <label class="col-3">UserId: </label>
      <div class="col-5">
         <input type="text" placeholder="userId" class="form-control" name="userId" ng-model="object.userId" ng-required="true"
		 ng-class="{'txtbxReq': (credentialForm.userId.$error.required && (credentialForm.userId.$touched || credentialForm.$submitted))}">
      </div>
   </div>
   <br/>
   <div class="row">
      <label class="col-3">Password: </label>
      <div class="col-5">
         <input type="text" placeholder="password" class="form-control" name="password" ng-model="object.password" ng-required="true"
		 ng-class="{'txtbxReq': (credentialForm.password.$error.required && (credentialForm.password.$touched || credentialForm.$submitted))}">
      </div>
   </div>
   <br/>
   <div class="row">
      <label class="col-3">URL: </label>
      <div class="col-5">
         <input type="text" placeholder="url" class="form-control" name="url" ng-model="object.url" ng-required="true"
		 ng-class="{'txtbxReq': (credentialForm.url.$error.required && (credentialForm.url.$touched || credentialForm.$submitted))}">
      </div>
   </div>
   <br/>
   <div class="row">
      <label class="col-3"></label>
      <div class="col-5">
         <input type="submit" class="btn btn-primary" value="SAVE" ng-click="saveObject()" ng-if="!object._id">
         <input type="submit" class="btn btn-primary" value="UPDATE" ng-click="updateObject()" ng-if="object._id">
         <input type="submit" class="btn btn-danger" value="DELETE" ng-click="deleteObject()" ng-if="object._id">
      </div>
   </div>
   </form>
</div>